@charset "UTF-8";
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: 'News Cycle', sans-serif;
  color: black;
  font-size: .9em; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.outerWrapper {
  margin: 0 auto;
  width: 90%;
  margin-top: 10px;
  max-width: 1100px; }

.innerWrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px; }

.logo {
  background-position: center;
  text-align: center;
  margin-bottom: 0px; }
  .logo a {
    background-image: url(../img/OCblack.png);
    background-size: 110px 201px;
    height: 110px;
    width: 201px;
    margin: 0 auto;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    text-align: center;
    padding: 0px;
    margin-top: 20px;
    margin-left: -12px; }

.navigationH {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  width: 70%;
  	/*.events {
  		display: inline-block;
  		width: 100%;
  		position: relative;
  		width: 24%;
  		float:left;
  
  
  
  	}*/ }
  .navigationH ul {
    display: none; }
  .navigationH h2 {
    font-weight: bold;
    margin-bottom: 15px; }
  .navigationH a {
    text-decoration: none;
    color: black; }
  .navigationH i {
    color: black; }

.search {
  margin-top: -3px; }
  .search i {
    display: inline-block;
    color: black; }
  .search input {
    width: 115px;
    display: inline-block;
    font-size: 1em;
    height: 30px;
    border: 0px;
    padding-left: 10px;
    margin: auto 0;
    margin-top: -30px;
    color: black;
    border: 2px solid #9bcc26; }
  .search p {
    margin: 0px; }

@media (min-width: 920px) {
  .navigationH ul {
    display: inline; }

  .dropdown {
    padding: 0 0px;
    transition: padding .3s ease;
    background: rgba 255, 255, 255, 0.5;
    position: absolute;
    top: -9999px;
    margin: auto auto;
    z-index: 10; }
    .dropdown li {
      padding: 6px 6px;
      line-height: 1.5;
      background-color: rgba(255, 255, 255, 0.7);
      width: 250px;
      display: block; }
    .dropdown.open {
      top: 10px;
      padding: 20px 0px; }

  .menuTrigger {
    padding: 0px 20px;
    position: relative;
    float: left;
    	/*.participate {
    		display: inline-block;
    		width: 100%;
    		position: relative;
    		width: 24%;
    		float:left;
    
    		ul {
    		position: absolute;
    		top: -9999px;
    		margin: auto auto;
    		z-index: 10;
    		}
    		li {
    		padding: 6px 6px;
    		line-height: 1.5;
    		background-color: #fff;
    		}
    
    	}*/
    	/*.about {
    		display: inline-block;
    		position: relative;
    		width: 24%;
    		float:left;
    		
    	li {
    		padding: 6px 0px;
    		line-height: 1.5;
    	}	
    	}
    	.directories {
    		display: inline-block;
    		position: relative;
    		width: 24%;
    		float:left;
    
    		li {
    		padding: 6px 0px;
    		line-height: 1.5;
    	}
    	}*/ } }
  @media (min-width: 920px) and (min-width: 800px) {
    .menuTrigger:hover .dropdown {
      top: 10px;
      padding: 20px 0px; } }
@media (min-width: 920px) {
    .menuTrigger li {
      padding: 6px 6px;
      line-height: 1.5; }
    .menuTrigger .search {
      display: inline-block;
      width: 4%;
      float: left; }
      .menuTrigger .search li {
        padding: 10px 0px;
        line-height: 1.5; }

  .search {
    color: black; }

  .topNav {
    text-align: center;
    margin: none;
    padding: none;
    padding-bottom: 7px; }
    .topNav li {
      display: inline-block;
      width: 30%;
      margin: none;
      padding: none;
      line-height: 1;
      text-align: center;
      margin-bottom: 0px;
      font-weight: regular; }
    .topNav a {
      text-decoration: none;
      color: black;
      padding: none;
      margin: none;
      font-weight: regular;
      font-size: .9em; }

  .first {
    border-top: 1.5px solid fadedgrey;
    border-bottom: 1.5px solid #636363;
    background-color: #eee;
    margin-top: -10px; }
    .first li {
      width: 20%; }

  .second {
    background-color: #ddd; }
    .second li {
      width: 14%; }

  .third {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    background-color: #eee; }
    .third li {
      width: 18%; }

  .menuButton {
    display: none; } }
.menuButton {
  padding: 15px;
  margin: auto auto;
  text-align: center;
  padding-top: 20px; }
  .menuButton .fa {
    padding-right: 5px; }
  .menuButton a {
    text-decoration: none;
    color: #9bcc26;
    font-size: 1.5em; }

.sideNav {
  display: inline-block;
  float: left;
  background-color: #eee;
  padding-top: 5px;
  border: 2px solid black;
  width: 23%;
  margin-top: 0px; }
  .sideNav li {
    list-style: none;
    line-height: 1.2;
    height: 30px;
    text-align: center; }
    .sideNav li:nth-child(7) {
      height: 50px; }
    .sideNav li:nth-child(8) {
      height: 50px; }
    .sideNav li:last-child {
      background-color: #fff;
      padding-bottom: 10px;
      height: 40px;
      line-height: 2em; }
      @media (max-width: 630px) {
        .sideNav li:last-child {
          font-weight: regular;
          font-size: .8em; } }
      .sideNav li:last-child a {
        color: #9bcc26;
        padding: 10px;
        line-height: 2em; }
        @media (max-width: 630px) {
          .sideNav li:last-child a {
            padding: 0px; } }
        .sideNav li:last-child a i {
          padding: 10px 10px 10px 0px;
          line-height: 1em; }
  .sideNav a {
    text-decoration: none;
    color: black; }

body {
  position: relative;
  padding-top: 40px; }

.area {
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  padding: 2px; }
  .area h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  @media (min-width: 550px) {
    .area {
      width: 50%; } }
  @media (min-width: 940px) {
    .area {
      width: 25%; } }

@media (min-width: 550px) {
  .art {
    margin-top: -300px; } }
@media (min-width: 940px) {
  .art {
    margin-top: 0px; } }
/*.theater {
		margin-right: 1%;
	}

	.dance {
		margin-right: 1%;
	}

	.art {
		margin-right: 1%;
	}
*/
.event {
  border: 2px solid #636363;
  padding: 5px;
  margin-bottom: 5px; }

.location a {
  font-size: 1em;
  text-decoration: none;
  color: #636363; }

.etitle {
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block; }
  .etitle a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 1.8em;
    font-weight: bold; }

.date {
  margin-bottom: 10px;
  margin-top: 5px;
  display: inline-block; }
  .date a {
    text-decoration: none;
    color: #636363;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em; }

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

.image {
  background-image: url(../img/burlesque.jpg);
  padding: 60px 0px;
  max-width: 100%;
  height: 120px;
  margin: auto auto;
  background-repeat: no-repeat;
  background-position: top center;
  display: block; }

.optionA .image {
  background-image: url(../img/burlesque.jpg); }

.optionB .image {
  background-image: url(../img/boheme.jpg); }

.optionC .image {
  background-image: url(../img/cinderella.jpg); }

.optionD .image {
  background-image: url(../img/into.jpg); }

.dance .optionA .image {
  background-image: url(../img/usc.jpg); }
.dance .optionB .image {
  background-image: url(../img/swing.jpg); }
.dance .optionC .image {
  background-image: url(../img/steppers.jpg); }
.dance .optionD .image {
  background-image: url(../img/pavement.jpg); }

.art .optionA .image {
  background-image: url(../img/universe.jpg); }
.art .optionB .image {
  background-image: url(../img/puzzle.jpg); }
.art .optionC .image {
  background-image: url(../img/spong.jpg); }
.art .optionD .image {
  background-image: url(../img/blyth.jpg); }

.class {
  margin-bottom: 130px; }
  .class .optionA .image {
    background-image: url(../img/pottery.jpg); }
  .class .optionB .image {
    background-image: url(../img/home.jpg); }
  .class .optionC .image {
    background-image: url(../img/calligraphy.jpg); }
  .class .optionD .image {
    background-image: url(../img/blyth.jpg); }

footer {
  display: block;
  position: absolute;
  bottom: 0px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  left: 0;
  font-size: .9em;
  background-color: #9bcc26;
  width: 100%; }
  footer p {
    font-size: .8em;
    color: #636363; }
  footer a {
    color: #636363;
    padding-right: 5px;
    padding-left: 15px; }
  footer .fa {
    font-size: 1.5em; }

header {
  display: block;
  margin: 0 auto;
  text-align: right;
  position: absolute;
  top: 0px;
  padding-top: 10px;
  padding-right: 5%;
  padding-bottom: 10px;
  left: 0;
  font-size: .9em;
  background-color: #9bcc26;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  font-size: 1em;
  color: #636363; }
  header p {
    font-size: .8em;
    color: #636363; }
  header a {
    color: #636363;
    padding-right: 5px;
    padding-left: 15px; }
  header .fa {
    font-size: 1.2em; }
  header li {
    display: inline;
    margin: 0 auto; }
  header i {
    padding-right: 5px; }

.social {
  padding-top: 5px;
  clear: left; }
  .social li {
    display: inline; }
  .social .fa {
    color: #636363; }

.follow {
  display: inline-block;
  float: left;
  padding-top: 10px; }

.contact {
  display: inline-block;
  float: left;
  padding-top: 10px; }

.contacts {
  display: inline-block;
  margin: 0 auto; }

/*
 * jQuery FlexSlider v2.3.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Ville Ristimäki (@villeristi)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001'; }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a .flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
.flexslider div {
  padding: 100px 0px;
  max-width: 100%;
  display: block; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

ul {
  padding-left: none !important; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */
