
* {
	box-sizing: border-box;
	



}

body {
	background-color: $charcoal;
	font-family: 'News Cycle', sans-serif;
	// font-family: 'Montserrat', sans-serif;
	color: $lightgrey;
	font-size: .9em;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.outerWrapper {
	margin: 0 auto;
	width: 90%;
	margin-top: 10px;
	max-width:1100px;
	

}

.innerWrapper {
	width: 90%;
	// border: 1px dotted black;
	// display: inline-block;
	margin: 0 auto;
	max-width: 1100px;
	
}
