
* {
	box-sizing: border-box;
}

body {
	background-color: $charcoal;
	font-family: 'News Cycle', sans-serif;
	color: $lightgrey;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.outerWrapper {
	margin: 0 auto;
	width: 90%;
	margin-top: 10px;

}
