
body {
	position: relative;
	padding-top: 40px;
}

.area {
	h2 {
		font-size: 1.8em;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;

	}
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 40px;
	padding: 2px;
	

}




/*.theater {
		margin-right: 1%;
	}

	.dance {
		margin-right: 1%;
	}

	.art {
		margin-right: 1%;
	}
*/
.event {
	border: 2px solid $fadedgrey;
	padding: 5px;
	margin-bottom: 5px;
	



}

.location {
	a {
	font-size: 1em;
	text-decoration: none;
	color: $fadedgrey;
}
}

.etitle {
	a {
		text-decoration: none;
		color: black;
		text-transform: capitalize; 
		font-size: 1.8em;
		font-weight: bold;

	}
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
}

.date {
	a {
		text-decoration: none;
		color: $fadedgrey;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1em;
	}

	margin-bottom: 10px;
	margin-top: 5px;
	display: inline-block;
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
.image {
	background-image: url(../img/burlesque.jpg);
	padding: 60px 0px;
	max-width: 100%;
	height: 120px;
	margin: auto auto;
	// background-size: 200px 120px;
	background-repeat: no-repeat;
	background-position: top center;
	display: block;
}

.optionA {
	.image {
		background-image: url(../img/burlesque.jpg);
	}
}

.optionB {
	.image {
		background-image: url(../img/boheme.jpg);
	}
}

.optionC {
	.image {
		background-image: url(../img/cinderella.jpg);
	}

	
}

.optionD {
	.image {
		background-image: url(../img/into.jpg);
	}
}


.dance {
	.optionA {
		.image {
			background-image: url(../img/usc.jpg);
		}
	}

	.optionB {
		.image {
			background-image: url(../img/swing.jpg);
		}
	}

	.optionC {
		.image {
			background-image: url(../img/steppers.jpg);
		}
	}

	.optionD {
		.image {
			background-image: url(../img/pavement.jpg);
		}
	}
}

.art {
	.optionA {
		.image {
			background-image: url(../img/universe.jpg);
		}
	}

	.optionB {
		.image {
			background-image: url(../img/puzzle.jpg);
		}
	}

	.optionC {
		.image {
			background-image: url(../img/spong.jpg);
		}
	}

	.optionD {
		.image {
			background-image: url(../img/blyth.jpg);
		}
	}
}

.class {

	margin-bottom: 130px;
	.optionA {
		.image {
			background-image: url(../img/pottery.jpg);
		}
	}

	.optionB {
		.image {
			background-image: url(../img/home.jpg);
		}
	}

	.optionC {
		.image {
			background-image: url(../img/calligraphy.jpg);
		}
	}

	.optionD {
		.image {
			background-image: url(../img/blyth.jpg);
		}
	}
}




