.bigBox {
	float: left;
	position: relative;
	display: inline-block;
	height: 250px;
	width: 100%;
	
	background-image: url(../img/burning.jpg);
	background-size: cover;
	border: 2px solid $lightgrey;
	border-radius: 10px;
}

.innerWrapper {
	width: 75%;
	float: left;
	display: inline-block;
	margin-left: 2%;
}

.eventinfo {
	position: absolute;
	bottom: 0px;
	width: 50%;
	

	li {
		display: inline;
		margin-bottom: 10px;
		
	}

	a {
		text-decoration: none;
		color: $lightgrey;
		font-size: .7em;
		margin-bottom: 5px;
	}
	background-color: $charcoal;
}


.leftinfo {
	left: 0px;
	border-radius: 0px 0px 0px 10px;
	height: 25px;

	li {
		padding-left: 10px;
		padding-top: 5px;
	}
}

.rightinfo {
	right: 0px;
	border-radius: 0px 0px 10px 0px;
	height: 25px;
	text-align: right;

	li {
		padding-right: 10px;
		padding-top: 5px;

		&:last-child a{
			color: $lime;
		}
	}

	i {
		color: $lime;
		padding: 0px 5px 0px 0px;
	}
}

.smallEvent {
	width: 49%;
	height: 160px;
	border: 2px solid $lightgrey;
	border-radius: 10px;
	display: inline-block;
	float: left;
	margin-top: 10px;

	background-image: url(../img/glow.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 160px 100%;

}


.aa {
	margin-right: 2%;
	background-image: url(../img/dubber.jpeg);
	background-size: contain;
	background-size: 100%;

	
}

.areaSection {
	display: inline-block;
}

.featured {
	margin-bottom: 40px;
}

.theater {
	.sectionTwo {
		border-radius: 0px 10px 10px 10px;
		background-image: url(../img/burlesque.jpg);
	}
	
	.smallEvent {
		background-image: url(../img/cinderella.jpg);
		background-size: cover;
	}

	.aa {
		background-image: url(../img/boheme.jpg);
		background-size: cover;
	}

	
}

.tab {
	width: 100px;
	height: 20px;
	background-color: $lightgrey;
	margin-bottom: -2px;
	color: $charcoal;
	border-radius: 6px 6px 0px 0px;
	text-align: center;
}

section2 {
	border-radius: 0px 10px 10px 10px;
}





