
.logo {

	background-position: center;
	text-align: center;

	a{
	background-image: url(../img/OCblack.png);
	background-size: 110px 201px;
	height: 110px;
	width: 201px;
	margin: 0 auto;
	display: inline-block;
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: center;
	  text-indent: -9999px;
	  text-align: center;
	  padding: 0px;
	  margin-top: 20px; 
	  margin-left: -12px;
	 
	}

	margin-bottom: 0px;


}






  