
   

.navigationH {
	ul {
		display: none;
	}

	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	// border: 2px solid #000;
	width: 70%;
	h2 {
		font-weight: bold;
		margin-bottom: 15px;
			}
	a {
		text-decoration: none;
		color: $font;
	}

	i {
		color: $font;
	}
	/*.events {
		display: inline-block;
		width: 100%;
		position: relative;
		width: 24%;
		float:left;



	}*/
}

.search {
	margin-top: -3px;

	i {
		display: inline-block;
		color: black;
	}
	 input {
	width: 115px;
	display: inline-block;
   	font-size: 1em;
    height: 30px;
	
    border: 0px;
    padding-left: 10px;
    margin: auto 0;
    margin-top: -30px;
    color: black;
    border: 2px solid $lime;
	  }

  p {
    
    margin: 0px;
  }

}
 
 // MEDIA LARGE //
  @media (min-width: 920px) {

.navigationH {
	ul {
		display: inline;
	}
}
	.dropdown {
		padding: 0 0px;
		transition: padding .3s ease;
		background: rgba (255, 255, 255, .5);
		position: absolute;
		top: -9999px;
		margin: auto auto;
		z-index: 10;

		li {
			padding: 6px 6px;
			line-height: 1.5;
			background-color: rgba(255, 255, 255, 0.7);
			width: 250px;
			display: block;
		}

		&.open {
			top: 10px;
			padding: 20px 0px;
		}
	}

	.menuTrigger {
		padding: 0px 20px;
		position: relative;
		
		float:left;
		
		@media (min-width: 800px) {
			&:hover {
				.dropdown {
					top: 10px;
					padding: 20px 0px;
				}
			}
		}
		
		
	li {
		padding: 6px 6px;
		line-height: 1.5;
	}

	/*.participate {
		display: inline-block;
		width: 100%;
		position: relative;
		width: 24%;
		float:left;

		ul {
		position: absolute;
		top: -9999px;
		margin: auto auto;
		z-index: 10;
		}
		li {
		padding: 6px 6px;
		line-height: 1.5;
		background-color: #fff;
		}

	}*/

	/*.about {
		display: inline-block;
		position: relative;
		width: 24%;
		float:left;
		
	li {
		padding: 6px 0px;
		line-height: 1.5;
	}	
	}
	.directories {
		display: inline-block;
		position: relative;
		width: 24%;
		float:left;

		li {
		padding: 6px 0px;
		line-height: 1.5;
	}
	}*/
	
	.search {
		display: inline-block;
		width: 4%;
		float:left;
		li {
		padding: 10px 0px;
		line-height: 1.5;
	}
		
	}
}
//END LARGE QUERY//

.search {
	color: $lightgrey;
	// position: absolute;
	// top: 70px;
	// right: 5%;
	// width: 112px;
	// border-left: none;
	// border-right: none;
	// border-top: none;
	// border-bottom: 2px solid $fadedgrey;
	// background-color: transparent;
}
	




.fa-search {
	// position: absolute;
	// top: 67px;
	// font-size: .2em;
	// right: 5.5%;

}





.topNav {

	li {
		display: inline-block;
		width: 30%;
		margin: none;
		padding: none;
		// padding-right: 5%;
		// padding-left: 5%;
		line-height: 1;
		text-align: center;
		margin-bottom: 0px;
		font-weight: regular;

	}

	a {
		text-decoration: none;
		color: $lightgrey;
		padding: none;
		margin: none;
		font-weight: regular;
		font-size: .9em;
		

	}

	text-align: center;
	
	margin: none ;
	padding: none;
	padding-bottom: 7px;
	// padding-right: 40px;


	
}




.first {
	border-top: 1.5px solid fadedgrey;
	border-bottom: 1.5px solid $fadedgrey;
	background-color: $navbargrey;
	margin-top: -10px;
	li {
		width: 20%;
	}
}

.second {
	background-color: #ddd;
		li {
			width: 14%;
		}
}

.third {
	border-top: 1.5px solid $lightgrey;
	border-bottom: 1.5px solid $lightgrey;
	background-color: $navbargrey;

		li {
			width: 18%;
		}
}

.menuButton {
	display: none;
}

 }

.menuButton {
	.fa {
		padding-right: 5px;
	}
	a {
		text-decoration: none;
		color: $lime;
		font-size: 1.5em;
	}
	
	padding: 15px;

  // display: block;
  margin: auto auto;
  text-align: center;
  padding-top: 20px;
}

 






