

$charcoal: #fff;
$lime: #9bcc26;
$lightgrey: black;
$fadedgrey: #636363;
$navbargrey:#eee;
$font: black;





@mixin breakpoint($point) {
	@if $point == baby-bear {
		@media (max-width: 630px) {@content;}
	}
	@else if $point == mama-bear {
		@media (max-width: 1280px) {@content;}
	}

}